{{- $external := or (hasPrefix .Destination "http") (hasPrefix .Destination "mailto") -}}
{{- $destination := .Destination -}}
{{- $tryResource := false -}}
{{- $path := (index (split $destination "#") 0) -}}
{{- if $path -}}
    {{- if not $external -}}{{- /* only try to find resources for internal links */ -}}
        {{- $filePath := (path.Join "content" (.Page.File.Path) $path) -}}
        {{- if hasPrefix $path "/" -}}
            {{- $filePath = (path.Join "content" $path) -}}
        {{- end -}}
        {{- if not (fileExists $filePath) -}}
            {{- $tryResource := true -}}
        {{- else -}}
            {{- /* In a URL only a single unescaped '#' is valid, so this should work */ -}}
            {{- $fragment := (index (split $destination "#") 1) -}}
            {{- if eq (path.Ext $path) ".md" -}}{{- /* For markdown content pages  */ -}}
                {{- $destination = (strings.TrimSuffix ".md" $path) | relLangURL -}}
            {{- else -}}{{- /* for anything other than a Markdown content page (e.g. images) */ -}}
                {{- $destination = $path | relLangURL -}}
            {{- end -}}
            {{- if $fragment -}}
                {{- $destination = printf "%s#%s" $destination $fragment -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- if $tryResource -}}
    {{- $destResource := resources.Get $path -}}
    {{- if not $destResource -}}
        {{- $destResource = .Page.Resources.GetMatch (printf "*%s*" $path) -}}
    {{- end -}}
    {{- if $destResource -}}
        {{- $destination = $destResource.RelPermalink -}}
    {{- end -}}
{{- end -}}
<a class="link-markdown-demo-site" href="{{ $destination | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if strings.HasPrefix $destination "http" }} {{ if not .Text }}rel="nofollow noreferrer noopener"{{ else }}rel="noopener"{{ end }}{{ end }}>{{ if .Text }}{{ .Text | safeHTML }}{{ else }}{{ $destination | safeHTML }}{{ end }}</a>
{{- /* Drop trailing newlines */ -}}
