<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
{{ partial "head.html" . -}}
<body>
<div class="demo-warningold bar-demo-site heading-general-demo-site">
    {{ i18n "browser_too_old" }}
</div>
{{- partial "header" . }}
<div class="demo-scrollable">
    {{- partial "page-title" . }}
    <div class="main-demo-site" id="content">
{{- block "main" . }}{{- end }}
{{- partial "page-navigation" . }}
    </div>
{{ partial "footer" . -}}
</div>
</body>
</html>
