{{- $curPage := . -}}
{{- if ne (.Param "showTopBarMenu") false }}
<header class="header-demo-site">
    <nav aria-label="Main Site Menu"
    class="bar-demo-site menubar-demo-site demo-mainmenu">
        <ul class="list-demo-site"><li class="list-item-demo-site{{- if eq $curPage site.Home }} current-menu-is-demo-site{{- end -}}">
                <span class="link-wrapper-demo-site"><a
                class="link-demo-site" href="{{- site.Home.RelPermalink -}}">{{-
                partial "return-helpers/title" site.Home -}}</a></span>
            </li>
        {{- range site.Menus.main -}}
            <li class="list-item-demo-site{{- if eq $curPage.RelPermalink .URL }} current-menu-is-demo-site{{- end -}}">
                <span class="link-wrapper-demo-site"><a
                href="{{- .URL -}}" class="link-demo-site">{{-
                .Name -}}</a></span>
            </li>
        {{- end -}}
        {{- range site.Params.mainSections -}}
            {{- $page := site.GetPage (printf "/%s" .) -}}
            {{- with $page -}}
                <li class="list-item-demo-site{{- if eq $curPage . }} current-menu-is-demo-site{{- end -}}">
                    <span class="link-wrapper-demo-site"><a
                    href="{{- .RelPermalink -}}" class="link-demo-site">{{-
                    partial "return-helpers/title" . -}}</a></span>
                </li>
            {{- end -}}
        {{- end -}}
        </ul>
    </nav>
{{- end }}
</header>
